# .gitignore

#docker container definitions
docker-compose.yml

# Virtual environment
.venv/
venv/
ENV/

# Python cache artifacts
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables / secrets
.env

#logs
app/log/